{{#each this}}

<div class="photo-card">
 <a href="{{largeImageURL}}"><img class="image" src="{{webformatURL}}" alt="{{tags}}" width="300" height="200" loading="lazy" />
  </a> 
  <div class="info">
    <p class="info-item">
      <b class="item-description">Likes</b><br>{{likes}}</p>
    </p>
    <p class="info-item">
      <b class="item-description">Views</b><br>{{views}}</p>
    </p>
    <p class="info-item">
      <b class="item-description">Comments</b><br>{{comments}}</p>
    </p>
    <p class="info-item">
      <b class="item-description">Downloads</b><br>{{downloads}}</p>
  </div>
</div>
</a>
{{/each}}
